

.container-img {
    position: relative;
    width: 100vw;
    height: auto;
    
    z-index: 1;
}  
.img {
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(50%, 50%) scale(2);
    transform-origin: center center;
    width: 100vw;
    height: 100vh;
    background-image: url("./assets/puente.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 10;
    transition: transform 0.1s;
}

.second-section {
  
   
    width: 100vw;
    height: 100vh;
    /* background-image: url('./assets/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;  */
    background-color: #60fff4f8;
   
}

.third-section { 
    width: 100vw;
    height: 100vh;
    background-image: url('./assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
   
}

@keyframes scrollAnimation {
  0% {
    font-size: 40px;
    top: 41%;
    left: 0%;
    
  }
  100% {
    font-size: 40px;
    top: 41%; 
    left: 100%; 
    
  }
}







    




